<div class="bg-custom-white bgsize">
    <div class="view-wrapper">
        <div class="container">
            <h3>
                Estático
            </h3>
            <h5>
                <b>O que é?</b> O aplicativo não precisará de conexão externa, isto é, não precisa de banco de dados.
                Ideal para mostrar informações fixas, valores que não mudam, aplicativos que não necessitam de registro
                e/ou envio de e-mails.
            </h5>
            <h3>
                Dinâmico
            </h3>
            <h5>
                <b>O que é?</b> O conteúdo do aplicativo é dinâmico, isto é, necessita de banco de dados.
                Ideal para informações em constante alteração, que tenham registro e/ou envio de e-mails.
            </h5>
            <p class="AppTextsFocus">
                <u>Importante</u>: para cada nova funcionalidade a ser inserida, deverá ser feito um orçamento.
            </p>
            <h3>
                Manutenção e hospedagem.
            </h3>
            <h2 style="text-align: justify; font-weight: bold;">
                Entre em <a href="contato" style="color: #e95238;" data-toggle="tooltip" title="Clique aqui">
                    contato</a> e solicite seu orçamento através do e-mail!
            </h2>
        </div>
    </div>
</div>