<div class="site-footer">
    <div class="d-inline-flex col-md-12">
        <div class="col-md-7">
            <img class="HoriLogo" src="https://i.imgur.com/mnbmwFR.png">
        </div>
        <div *ngIf="!mobile" class="FooterInfo col-md-5 d-inline-block">
            <div class="row" style="float: right;">
                <img class="PhoneIcon" src="https://i.imgur.com/sqGmjB5.png">
                <p class="Phone">
                    +55 24 98124 7982
                </p>
                <img class="MailIcon" src="https://i.imgur.com/0T0yyCv.png">
                <p class="Mail">
                    contato@mi-designer.com
                </p>
                <p class="Copyright">
                    <i> &copy; 2019 mi-designer | Todos os direitos reservados. Desenvolvido por mi-designer.</i>
                </p>
            </div>
        </div>
    </div>
</div>