<div class="bg-custom-white">
    <div class="view-wrapper">
        <div [ngClass]="{'container-fluid' : isMobile, 'container-fluid d-inline-flex' : !isMobile}">
            <!--Sobre a Empresa-->
            <div class="aboutstructure col-sm-12 col-md-5">
                <p class="titles color-custom-orange">
                    SOBRE
                </p>
                <hr class="col-sm-6">
                <p class="texts color-custom-black">
                    Somos uma equipe formada por profissional de marketing digital, design gráfico e programação. 
                    Iniciamos este projeto juntos em outubro de 2019, mas, individualmente, já temos anos de experiência no mercado e nos juntamos para trazer qualidade para nossos clientes.
                    Buscamos empreendedores que queiram se destacar entre os concorrentes e ganhar mais visibilidade e credibilidade.
                    Nossa base é em Itatiaia-RJ, mas atendemos pedidos para todo o Brasil.
                </p>
            </div>
            <!--Sobre a Equipe-->
            <div class="team col-md-7 col-sm-12">
                <p class="titles color-custom-orange">
                    EQUIPE
                </p>
                <hr class="col-sm-6">
                <!--Descrição Ana Miriã-->
                <img class="rounded-circle p-imgcircle" src="https://i.imgur.com/ypoYmAz.jpg" data-toggle="tooltip"
                title="Foto por: Davi Santi e Polly Jeronimo.">
                <h4 class="teamnames color-custom-black">
                    ANA MIRIÃ NUNES
                </h4>
                <p class="teamsubtitles color-custom-black">
                    Design gráfico, ilustração, criação de marcas, impressos, design de sites e aplicativos.
                </p>
                <p class="teamtexts color-custom-black">
                    Olá, eu sou a Ana Miriã e vou usar a criatividade e arte para fazer um trabalho incrivelmente
                    bonito, após a compra, entrarei em contato com você e buscarei tirar o máximo de informações suas
                    para fazer algo que tenha tudo haver com sua empresa. Aplicarei diversas técnicas de cores,
                    tipografia e estilo para atingir o público desejado.
                </p>
                <!--Descrição Ana Paula-->
                <img class="rounded-circle p-imgcircle" src="https://i.imgur.com/jRY44pN.jpg" data-toggle="tooltip"
                title="Foto por: Ana Paula Nunes">
                <h4 class="teamnames color-custom-black">
                    ANA PAULA NUNES
                </h4>
                <p class="teamsubtitles color-custom-black">
                    Marketing digital.
                </p>
                <p class="teamtexts color-custom-black">
                        Prazer, eu sou a Ana Paula, cuido de toda parte de marketing digital e mídia online.
                        Eu amo criar conteúdo personalizado para cada marca apresentar-se ao público e interagir com ele.
                        Faço todo o trabalho de compra de mídia online para que o conteúdo chegue ao publico alvo sem dispersão.
                        Podemos melhorar seu alcance com técnica e conhecimento necessários para atrair os clientes que você deseja.
                </p>
                <!--Descrição Eduardo-->
                <img class="rounded-circle p-imgcircle" src="https://i.imgur.com/r6vvAlO.png" data-toggle="tooltip"
                title="Foto será adicionada em breve.">
                <h4 class="teamnames color-custom-black">
                    EDUARDO FELIPE DOS SANTOS MIRANDA
                </h4>
                <p class="teamsubtitles color-custom-black">
                    Arquitetura de sites e aplicativos.
                </p>
                <p class="teamtexts color-custom-black">
                    Sou CEO da empresa parceira <i>Eduardo Serviços e Consultoria</i> e sou responsável pela arquitetura
                    dos sites e aplicativos criados pela equipe.
                </p>
                <!--Descrição Taynná-->
                <img class="rounded-circle p-imgcircle" src="https://i.imgur.com/r6vvAlO.png" data-toggle="tooltip"
                title="Foto será adicionada em breve.">
                <h4 class="teamnames color-custom-black">
                    TAYNNÁ CAMPOS ARAUJO
                </h4>
                <p class="teamsubtitles color-custom-black">
                    Criação de sites e aplicativos.
                </p>
                <p class="teamtexts color-custom-black">
                    Oi, eu sou a Taynná e trabalho na empresa parceira <i>Eduardo Serviços e Consultoria</i>. Minha
                    função é criar sites e aplicativos que melhor se adaptem aos seus gostos e necessidades, combinando
                    beleza e funcionalidade.
                </p>
            </div>
        </div>
    </div>
</div>