<div class="bg-image-home">
    <div class="view-wrapper container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div class="form-group">
                    <p class="hometitle">DESTAQUE-SE E ATRAIA MAIS CLIENTES!</p>
                    <p style="text-align: center;"><a routerLink="/contato" class="btn btn-outline-white" role="button">SOLICITE UM
                            ORÇAMENTO</a></p>
                    <p style="text-align: center;"><img src="https://i.imgur.com/63PvFhH.png" style="height: 100px; width: 125px;"></p>
                </div>
            </div>
        </div>
    </div>
</div>