<div class="bg-custom-black">
    <div class="view-wrapper">
        <div class="text-center">
            <p class="titles color-custom-white">PARCEIROS</p>
            <hr class="col-sm-2">
        </div>
        <div class="container">
            <div class="row pt-5 text-center p-2">
                <div class="col-sm-12 col-md-4 p-2">
                    <div class="card pmd-card text-center">
                        <div class="card-body bg-custom-white" data-toggle="tooltip" title="Clique aqui e saiba mais.">
                            <div class="pmd-card-icon">
                                <img class="card-img-top rounded-circle" src="../../../assets/img/Logo.jpeg"
                                alt="Card image cap">
                            </div>
                            <h6 class="color-custom-grey">IMPRESSÃO DE CAMISAS
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 p-2">
                    <div class="card pmd-card text-center">
                        <div class="card-body bg-custom-white" data-toggle="tooltip" title="Clique aqui e saiba mais.">
                            <div class="pmd-card-icon">
                                <img class="card-img-top rounded-circle" src="../../../assets/img/Logo.jpeg"
                                alt="Card image cap">
                            </div>
                            <h6 class="color-custom-grey">FOTOGRAFIAS</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 p-2">
                    <div class="card pmd-card text-center">
                        <div class="card-body bg-custom-white" data-toggle="tooltip" title="Clique aqui e saiba mais.">
                            <div class="pmd-card-icon">
                                <img class="card-img-top rounded-circle" src="../../../assets/img/Logo.jpeg"
                                alt="Card image cap">
                            </div>
                            <h6 class="color-custom-grey">GRÁFICA</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>