    <div class="row align-items-center position-relative">
        <div class="col-3 ">
            <div class="site-logo">
                <span class="menuBtn" mat-button (click)="onToggleSidenav()">
                    <mat-icon class="color-custom-white">menu</mat-icon>
                </span>
                <span class="color-custom-white textsize">Menu</span>
            </div>
        </div>
        <div class="col-9  text-right">
            <span class="d-inline-block d-lg-none"><a href="#"
                    class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
                        class="icon-menu h3 text-white"></span></a></span>
            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                    <!-- <li><a href="#" class="nav-link">Area do Cliente</a></li> -->
                </ul>
            </nav>
        </div>
    </div>