<div class="bg-custom-white">
    <div class="view-wrapper">
        <div class="text-center">
            <p class="titles color-custom-orange">SERVIÇOS</p>
            <hr class="col-sm-2">
        </div>
        <div class="container">
            <div class="row pt-5 text-center p-2">
                <div class="col-sm-12 col-md-4 p-2">
                    <a routerLink="/servicos/identidadevisual" >
                        <div class="card pmd-card text-center">
                            <div class="card-body bg-custom-white" data-toggle="tooltip"
                            title="Clique aqui e saiba mais.">
                                <div class="pmd-card-icon">
                                    <img src="https://i.imgur.com/hFN1aiT.png" />
                                </div>
                                <h2 class="card-title color-custom-orange">Identidade Visual / Branding</h2>
                                <h6 class="color-custom-grey">Criação ou <b>Reformulação</b> de identidade visual, logotipos, marcas.</h6>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 p-2">
                    <a routerLink="/servicos/socialmedia" >
                        <div class="card pmd-card text-center">
                            <div class="card-body bg-custom-white" data-toggle="tooltip"
                            title="Clique aqui e saiba mais.">
                                <div class="pmd-card-icon">
                                    <img src="https://i.imgur.com/beSWidl.png" />
                                </div>
                                <h2 class="card-title color-custom-orange">Social Media</h2>
                                <h6 class="color-custom-grey">Criação de conteúdos para redes sociais.</h6>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 p-2">
                    <a routerLink="/servicos/arteimpressa" >
                        <div class="card pmd-card text-center">
                            <div class="card-body bg-custom-white" data-toggle="tooltip"
                            title="Clique aqui e saiba mais.">
                                <div class="pmd-card-icon">
                                    <img src="https://i.imgur.com/40lKWrM.png" />
                                </div>
                                <h2 class="card-title color-custom-orange">Arte Impressa</h2>
                                <h6 class="color-custom-grey">Criação de peças para impressão como: Outdoors, Panfletos, Cartazes, Cartões de visitas, camisas, entre outros.</h6>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row text-center p-2">
                <div class="col-sm-12 col-md-4 p-2">
                    <a routerLink="/servicos/artedigital" >
                        <div class="card pmd-card text-center">
                            <div class="card-body bg-custom-white" data-toggle="tooltip"
                            title="Clique aqui e saiba mais.">
                                <div class="pmd-card-icon">
                                    <img src="https://i.imgur.com/qd3pDHf.png" />
                                </div>
                                <h2 class="card-title color-custom-orange">Arte Digital</h2>
                                <h6 class="color-custom-grey">Criação de peças para web como: posts para facebook, banners para websites, e-mails marketing, entre outros.</h6>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 p-2">
                    <a routerLink="/servicos/ilustracoes" >
                        <div class="card pmd-card text-center">
                            <div class="card-body bg-custom-white" data-toggle="tooltip"
                            title="Clique aqui e saiba mais.">
                                <div class="pmd-card-icon">
                                    <img src="https://i.imgur.com/IeVEnaY.png" />
                                </div>
                                <h2 class="card-title color-custom-orange">Ilustrações</h2>
                                <h6 class="color-custom-grey">Criação de desenhos (personagens, cenários, animais, caricaturas, etc).</h6>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 p-2">
                    <a routerLink="/servicos/aplicativos" >
                        <div class="card pmd-card text-center">
                            <div class="card-body bg-custom-white" data-toggle="tooltip"
                            title="Clique aqui e saiba mais.">
                                <div class="pmd-card-icon">
                                    <img src="https://i.imgur.com/KdfLkgB.png" />
                                </div>
                                <h2 class="card-title color-custom-orange">Aplicativos</h2>
                                <h6 class="color-custom-grey">Criação de aplicativos.</h6>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row text-center p-2" style="margin-bottom: 5em;">
                <div class="col-sm-12 col-md-4 p-2">
                    <a routerLink="/servicos/webdesign" >
                        <div class="card pmd-card text-center">
                            <div class="card-body bg-custom-white" data-toggle="tooltip"
                            title="Clique aqui e saiba mais.">
                                <div class="pmd-card-icon">
                                    <img src="https://i.imgur.com/Y16PsjY.png" />
                                </div>
                                <h2 class="card-title color-custom-orange">Web Design</h2>
                                <h6 class="color-custom-grey">Criação e configuração de websites e lojas virtuais responsivas.</h6>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>