<div class="bg-custom-white">
    <div class="view-wrapper">
        <div #Top class="IdVTexts">
            <h3>
                Deseja ter uma marca (logo) exclusiva que transmita a personalidade da sua empresa ou produto e que seja
                atrativa ao seu público? Se sim, você está no caminho certo.
                Entre em <a href="contato" style="color: #e95238; font-weight: bold;" data-toggle="tooltip"
                    title="Clique aqui"> contato</a> conosco e solicite seu orçamento através do e-mail!
            </h3>
            <h3>
                Abaixo alguns esclarecimentos.
            </h3>
            <hr>
        </div>
        <div #FAQ class="IdVTexts">
            <h5>
                O que é Identidade visual?
            </h5>
            <p>
                Conjunto de elementos que representam uma empresa, produto, negócio de forma visual.
            </p>
            <p>
                A identidade visual vai muito além da criação de um logo, mas também a criação de todos os elementos que
                compõem, ajudam e reforçam o símbolo principal.
                Em uma identidade visual a paleta de cores, tipografia, textura, padrões, mascotes, ícones e etc.
                precisam conversar entre si e seguir um mesmo padrão para criar a identificação da empresa, produto ou
                negocio.
                Por isso é comum que uma identidade visual venha acompanhada do manual de identidade visual, onde o
                cliente receberá instruções das melhores formas de se utilizar a identidade da sua empresa ou produto.
                É possível saber forma correta e a forma incorreta de usar a marca criada em diversas situações.
            </p>
            <h5>
                O que é Branding?
            </h5>
            <p>
                É um gerenciamento estratégico da marca voltado a posicionar a <b>identidade visual</b> de acordo com os
                valores e objetivos <b>que o empreendedor quer transmitir</b>.
                O Branding tem o objetivo de despertar boas sensações, conexões com seus clientes para que fortaleça
                cada vez mais a marca no mercado e na mente das pessoas, isso pode ser o diferencial na decisão de
                escolha de compra do cliente.
                O Branding utiliza a identidade visual alinhado com os valores e estratégia em questão de negócio para
                fixar a marca na mente do consumidor e tornar <b>o produto</b> mais desejável.
            </p>
            <h5>
                Como é o processo de criação de logotipo na mi-designer?
            </h5>
            <p>
                <b>1º Passo</b> – Entramos em contato com o cliente para <b>um debriefing para conhecer sua empresa</b>
                e a intenção com a marca ou <b>produto</b>.
                Em seguida <b>faremos uma entrevista</b> por meio de um briefing, com o objetivo de entender a empresa,
                publico alvo e concorrentes.
                Essa etapa é de extrema importância para ter o resultado final esperado, por isso, não poupe palavras na
                hora de responder, <b>reserve</b> um momento que esteja com tempo, tome um cafezinho e mãos a massa.
            </p>
            <p>
                <b>2º Passo</b> – Definimos as bases, nessa etapa fazemos pesquisas relacionadas ao que retiramos do
                briefing, buscamos referências, analisamos tendências de mercado, <b>delineamento inicial</b>, lista de
                ideias, fontes de inspirações.
                Nessa etapa também verificamos a concorrência e como podemos nos destacar em relação a ela e atrair os
                clientes.
            </p>
            <p>
                <b>3º Passo</b> – Enviamos para você todas as ideias e <b>amostras criadas com base nas pesquisas feitas
                    no passo 2</b>.
                Nesse passo você deverá escolher que caminho <b>seguiremos</b>, qual está mais <b>próximo daquilo</b>
                você gostaria.
            </p>
            <p>
                <b>4º Passo</b> – Após o <b>sinal verde</b>, escolhemos uma paleta de cores e a tipografia ideal para
                despertar a percepção do publico desejado.
                A escolha das cores e da tipografia é muito importante na identidade visual, pois dependendo das cores e
                do estilo e arranjo das letras <b>é possível</b> transmitir diversas sensações, desde segurança e
                seriedade até instabilidade.
            </p>
            <p>
                <b>5º Passo</b> – Com a Logo pronta, criamos algumas aplicações dependendo do pacote escolhido tais
                como: Cartão de visitas, camisas, papel timbrado etc.
                Tudo será apresentado com o manual de identidade visual e entregue ao cliente.
            </p>
            <p>
                <b>6º Passo</b> – Caso tenha escolhido pacote com mídia social e website, ela se inicia apenas após a
                finalização da identidade visual.
                Nela, fazemos um planejamento de marketing, criamos publicações para redes sociais que mantenham a
                identidade visual criada e consiga atrair a percepção do púbico alvo de acordo com os valores e
                objetivos da empresa criando uma conexão com os clientes, fortalecendo a marca no mercado e na mente das
                pessoas.
                O Site também será estudado e pensado para <b>refletir a identidade criada</b>.
            </p>
        </div>
        <div class="IdVTexts1">
            <p>
                Se ainda estiver em dúvida entre em <a href="contato" style="color: #cf9186; font-weight: bold;"
                    data-toggle="tooltip" title="Clique aqui"> contato</a>.
            </p>
            <h3 style="text-align: right;">
                <a data-toggle="tooltip" title="Volte ao início da página!" (click)="scrollToElement(Top)"><img
                        src="https://i.imgur.com/qFkATkM.png" style="height: 50px; width: 50px;"></a>
            </h3>
        </div>
    </div>
</div>